body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.post-link {
  text-decoration: none;
}

header {
  min-height: 350px;
  background-color: blue;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(/images/banner.jpeg);
  background-size: cover;
  background-position: center;
}

header > * {
  z-index: 10;
}

header::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.profile-name {
  font-size: 3em;
  font-weight: bold;
}

.main {
  margin-top: 64px;
  display: flex;
}

.main-container {
  max-width: 750px;
  min-width: 600px;
  width: 100%;
  padding-left: 100px;
  padding-right: 100px;
}

.post {
  display: flex;
  border: 1px solid #eaecee;
  border-radius: 8px;
  margin-top: 24px;
  overflow: hidden;
  min-height: 200px;
  transition: all 0.25s ease;
}

.post:hover {
  transform: translate3d(0, -5px, 0);
  box-shadow: 0 2rem 5rem 0 rgba(0, 0, 0, 0.26);
  cursor: pointer;
}

.post-image {
  flex-basis: 40%;
  background-size: cover;
  background-position: center;
}

.post-content {
  flex-shrink: 1;
  flex-basis: 60%;
  padding: 24px;
}

.post-date {
  font-size: 12px;
  color: #adb5bd;
  font-weight: 600;
}

.post-title {
  font-size: 1.5em;
  padding-top: 16px;
  padding-bottom: 4px;
  color: #333;
}

.post-title h4 {
  margin: 0;
}

.post-text {
  overflow: hidden;
  max-height: 65px;
}

.post-text p {
  font-size: 1rem;
  font-weight: 400;
  color: #495057;
  line-height: 1.4;
  margin: 0;
  word-break: break-all;
}

.nav-button.new-post-button {
  position: fixed;
  bottom: 30px;
  right: 30px;
  font-size: 24px;
  width: 50px;
  height: 50px;
  background-color: #004186;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  transition: all 0.25s ease;
}

.nav-button.new-post-button:hover {
  background-color: #002349;
  cursor: pointer;
}

.subtext {
  max-width: 400px;
}

footer {
  min-height: 100px;
  background-color: #eaecee70;
  color: #929eaa;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  font-size: 14px;
}

.navigation a {
  text-decoration: none;
  color: #004186;
  border: 1px solid #004186;
  border-radius: 5px;
  padding: 5px 8px;
}
